const utils = require("utils");
{{#model}}
  const model{{name}} = require("../data/{{name}}").{{name}};
  const validator = require("../data/{{name}}").validator
{{/model}}
{{#fields?}}
  const model{{name}} = utils.rpc.Model
  const validator = utils.validation.createValidator({{fields}})
{{/fields?}}

const builder = utils.rpc.modelBuilder( validator, model{{name}} )


const action = asnyc (ctx, next) => {
  const dataModel = builder(ctx)
  // do something with your model, like persist it to db
  // if(!dataModel) throw new ValidationError(dataModel.errors);
  // const model = require("./models/{{name}}")
  // const new{{name}} = new model(dataModel.toObj())
  return next();
}
module.exports = {
  path: {{action.path}},
  callback: action,
  schema: {{action.schema}},
  method: {{action.method}} //can be empty since an rpc action 
} 
