const utils = require("utils");
{{#actions}}
const Action{{name}} = require("./actions/{{name}}.js");
{{/actions}}

const {{service.name}}Service = new utils.rpc.Service("{{name}}")

{{#actions}}
  {{#isRpc}}
{{service.name}}Service.addAction(Action{{name}})
  {{/isRpc}}
{{/actions}}


module.exports = {{service.name}}Service